.invoice{
    /* background-color: antiquewhite;
    height: 100vh;
    display: flex;
   width: 100vw; */
   background-color: rgb(216, 197, 197);
   height: 100vh;
   display: flex;
   justify-content: center; /* Horizontally center content */
   align-items: center; /* Vertically center content */
  

}
.wrapper{
    text-align: center;
     

}

.table{
    border: 1px solid grey;
    height: max-content;
    
    display: flex;
    flex-direction: column;
}
.firstrow{
    display: flex;

    height: 5rem;

}
.firstcolumn{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.secondcolumn{
    flex: 1;

}
.selectcontainer{
    width: 100%;
    height: 100%;
}
.secondrow{
    display: flex;
    align-items: center;
}
.srfirstcolumn{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 55px;
}
.srsecondcolumn{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.srcolumn1{
    flex: 1;
}
.srcolumn2{
    flex: 2;
}
input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
    padding: 5px; /* Add some padding for input fields */
}
.srcolumn3{
    flex: 1;
}
.srcolumn4{
    flex: 2;
}
.thirdrow{
   border: 1px solid;
   height: 25px;
}
.fourthrow{
    display: flex;
}
.frfirst{
flex: 1;
}
.frsecond{
    flex: 1;
}
.frthird{
    flex: 1;
}
.frfourth{
    flex: 1;
}
.frfifth{
    flex: 1;
}
.frsixth{
    flex: 1;
}
.frseventh{
    flex: 1;
}
.srfirstcolumn{
    display: flex;
    
}

  @media screen and (max-width: 768px) {

    .secondrow{
flex-direction: column;
align-items: flex-start;

    }
    .srsecondcolumn{
     width: 100%;
     
    }
    .srfirstcolumn{
        width: 100%;
    }
  
}

.helo1{
    flex:1;
}
.helo2{
    display: flex;
}
select{
    border-radius: 5px;

}